# Ignore binary executables
*.exe
*.out

# Ignore build and temporary files
/build/
/tmp/

# Ignore configuration files that may contain sensitive information
/config/config.yml

# Ignore system and IDE-specific files
.idea/
.vscode/

# Exclude vendor directory for Go Modules
/vendor/
